/* *{
    border:1px solid;
} */
body{
    width:1000px;
    margin:0 auto;
}
header{
    background-color:rgb(106, 187, 207);
    height:120px;
}
header section{
    height:120px;
    width: 450px;
    display:block;
    /* clear:both; */
    padding:0;
    float:left;
}

#logoInicio{
    width: 80px;
    height: 80px;
    padding: 0;
    display: block;
    float:left;
    margin-right: 5px;
    margin-left: 30px;
    
}
#logoInicio img{
    width: 100%;
    height: 100%;
}
#tituloInicio{
    display: block;
    width: 300px;
    
    float:left;
    margin-top: 15px;
    font-family: "Brush Script MT";
    text-align: center;
}


#tituloInicio h1{
    margin: 0;
    font-size: 40px;    
}
#tituloInicio h5{
    margin: 0;
    font-size: 25px; 
}
nav{
    box-sizing: border-box;
    /* display: block; */
    
    width: 540px;
    height: 120px;
    float:left;
    padding-top: 52px;
}
#icoMenu{
    display: none;
}
nav ul {
   margin: 0;
}
nav li{
    list-style:none;
    /* margin-left:-50px; */
    display:inline-block;
    margin:0;
    font-size:15px;   
    margin-left: 27px;
}
nav li a{
    text-decoration: none;
    font-family: "Gill Sans MT";
    color: white;
}

nav li:first-child{
    margin-left:-40px;
}
nav li:last-child{
    margin-right: 0;
}
section{
    clear:both;
}

@media screen and (max-width:1000px){
    /* *{
        border: solid 1px;
    } */
   body{
       width:100%;
   }
    header section{
        float:none;
        margin-left: auto;
        margin-right: auto;
        /* border: solid; */
    }
    #icoMenu{
        display: block;
        position: fixed;
        margin-top: -110px;
        margin-left: 10px;
        width:20px;
    }
    #icoMenu.active{
        background-color:white;
        padding: 3px;
        border-radius: 2px;
    }
    #icoMenu.inactive{
        background-color: transparent;
        padding: 3px;
        border-radius: 2px;
    }
    nav.active{
        display: block;
        background-color:rgb(156, 156, 156) ;
        padding:0;
        height:max-content;
        width:150px;
        position: fixed;
        margin-top:-80px;
        margin-left:10px;
    }
    nav.active ul{
        margin: 0;
        /* padding: 0; */
    }
    nav.active li{
        display: block;
        margin-left: -40px;
        padding-left: 5px;
        margin-bottom: 0;
        margin-top:2px;
        margin-bottom: 2px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: solid 1px rgb(226, 223, 223);
    }
    nav.active li:last-child{
        border:none;
    }
    nav.inactive{
        display:none;
    }
}
