/* *{
    border:1px solid;
} */

body{
    width:1000px;
    margin:0 auto;
    background-color: rgba(218, 218, 218,0.5);
}
header{
    background-color:rgb(95, 145, 158);
    height:120px;
}
header section{
    height:120px;
    width: 450px;
    display:block;
    /* clear:both; */
    padding:0;
    float:left;
}

#logoInicio{
    width: 80px;
    height: 80px;
    padding: 0;
    display: block;
    float:left;
    margin-right: 5px;
    margin-left: 30px;
    
}
#logoInicio img{
    width: 100%;
    height: 100%;
}
#tituloInicio{
    display: block;
    width: 300px;
    
    float:left;
    margin-top: 15px;
    font-family: "Brush Script MT";
    text-align: center;
}


#tituloInicio h1{
    margin: 0;
    font-size: 40px;    
}
#tituloInicio h5{
    margin: 0;
    font-size: 25px; 
}
nav{
    box-sizing: border-box;
    /* display: block; */
    
    width: 540px;
    height: 120px;
    float:left;
    padding-top: 52px;
}
#icoMenu{
    display: none;
}
nav ul {
   margin: 0;
}
nav li{
    list-style:none;
    /* margin-left:-50px; */
    display:inline-block;
    margin:0;
    font-size:15px;   
    margin-left: 27px;
}
nav li a{
    text-decoration: none;
    font-family: "Gill Sans MT";
    color: white;
    transition:transform,font-size;
}

nav li:first-child{
    margin-left:-40px;
}
nav li:last-child{
    margin-right: 0;
}
header+section{
    clear:both;
}
nav li a.selected{
    border-bottom:solid 2px white;
    
}
nav li a.active{
    display: block;
    transform: scale(1.2);
    transition-duration: 0.5s;  
}

header+section figure img{
    width:100%;
}

header+section figure{
    margin:0;
    margin-top: 20px;
    transition: transform;
    transition-duration: 0.5s;
    /* background-color: rgba(172, 172, 172, 0.5); */
}

section+section{
    background-color:rgba(172, 172, 172, 0.5);
    margin: 0;
    border:solid;
    border-radius:10px;
    transition:transform; 
    transition-duration: 0.5s;
    
}

section+section:hover, header+section figure:hover{

    transform:scale(1.1);
}

#servicios:hover{
    transform:none;
}

#servicios{
    background-color:rgba(172, 172, 172, 0.5);
    margin-top: 20px;

    height: 350px;
    box-sizing: border-box;
    padding-top:10px;

}

#servicios td:hover{
    transform:scale(1.1);
}
#servicios td img{
   border-radius: 25%;
   box-shadow:5px 5px 5px black; 
}


section aside.left{
    width: 25%;
    display: block;
    float: left;
    margin-top: 140px;
    
}
section aside h2{
    font-family: "Gill Sans MT";    
    text-align:center;
}
section main.right{
    margin: 0;
    width: 74%;
    float: right;
    
}
section main table img{
    width:160px;
    height: 160px;
    margin-left:15px;
}
#motivacion{
    margin-top: 20px;
    clear:both;
    height: 350px;
}
section aside.right{
    width:49%;
    display: block;
    /* clear: both; */
    float: right;
    margin-top: 140px;
}
section main.left{
    margin: 0;
    width: 50%;
    float: left;
}

section main.left iframe{
    box-sizing: border-box;
    padding-left: 20px;
    /* display:block; */
    width: 500px;
    height: 350px;
}



@media screen and (max-width:1000px){
    /* *{
        border: solid 1px;
    } */
   body{
       width:100%;
   }
    header section{
        float:none;
        margin-left: auto;
        margin-right: auto;
        /* border: solid; */
    }
    #icoMenu{
        display: block;
        position: fixed;
        margin-top: -110px;
        margin-left: 10px;
        width:20px;
    }
    #icoMenu.active{
        background-color:white;
        padding: 3px;
        border-radius: 2px;
    }
    #icoMenu.inactive{
        background-color: transparent;
        padding: 3px;
        border-radius: 2px;
    }
    nav.active{
        display: block;
        visibility: visible;
        background-color:rgb(156, 156, 156) ;
        padding:0;
        height:max-content;
        width:150px;
        position: fixed;
        margin-top:-80px;
        margin-left:10px;
        transition-duration: 0.5s;
    }
    nav.active ul{
        margin: 0;
        /* padding: 0; */
    }
    nav.active li{
        display: block;
        margin-left: -40px;
        padding-left: 5px;
        margin-bottom: 0;
        margin-top:2px;
        margin-bottom: 2px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: solid 1px rgb(226, 223, 223);
    }
    nav.active li:last-child{
        border:none;
    }
    nav.inactive{
        visibility:hidden;
        /* display: none; */
        transition:visibility;
        display:block;
        position: fixed;
        margin-top:-80px;
        margin-left:10px;
        
    }

    nav li a.selected{
        border:none;
        font-weight:bold;
    }
    nav.active a.active{
        transition-duration: 0.5s;
        font-size: 18px;
        transform: translateX(8px);
    }
    section aside.left{
        float: none;
        margin-left:auto;
        margin-right:auto;
        margin-top: -20px;
        margin-bottom: -20px;
        padding-bottom:5px;
        padding-top:5px;
    }
    section main.left, section main.right{
        float: none;
        margin-left:auto;
        margin-right:auto;
        padding: 0;
        width: 100%;
        height: max-content;
    }
    main table{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:80%;
    }
    main table td{
        display: inline-block;
        
    }
    #motivacion, #servicios{
        height: max-content;
    }

    section aside.right{
        float: none;
        width:100%;
        
        margin: 0;
        /* border:solid; */
        text-align:center;   
    }
    section main.left iframe{
        width:100%;
        margin: auto;
        /* height: max-content; */
    }
    section+section:hover, header+section figure:hover{
        transform:scale(0.9);
    }
   
}

.carousel-inner img{
    width: 100%;
}
.carousel-caption h1{
    text-shadow: 5px 5px 5px black;
    font-size: 3em;
}

footer{
    clear:both;
    background-color:rgb(95, 145, 158);
    height: 370px;
    width: 100%;
}

#interes, #serv{
    float: left;
    width:25%;
    padding: 30px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

#interes{
    padding-top: 50px;
}

#serv p{
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}

#contacto{
    width: 25%;
    padding: 40px;
    text-align: center;
    float: right;
    color: white;
    text-shadow: 5px 5px 5px black;
}

footer img{
    border-radius: 25%;
    box-shadow: 5px 5px 5px black;
    width: 50px;
    height: 50px;
}


/*--------   desde aquí para la página de "Nosotros" */

#MYV{
    width: 50%;
    float: left;
    font-size: 20px;
    text-align: justify;
    padding-left: 30px;
}

#img_MYV{
    width: 45%;
    float: right;
}

#img_MYV fieldset, #img_VYP fieldset{
    border:none;
    margin: 50px;
    margin-top: 80px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 5px 5px 5px black;
}
#img_MYV fieldset:hover, #img_VYP fieldset:hover{
    transform:scale(1.3); 
}

#img_VYP{
    width: 45%;
    float: left;
}

#VYP{
    width: 50%;
    float: right;
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 20px;
}

#VYP fieldset{
    border:none;
}

#VYP fieldset li{
    list-style: none;
}



/*   Desde aquí para la página de "clientes"*/

#perfil,#clientes{
    margin:50px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(255,255,255);
    height:400px;
}


#c1,#c2,#c3,#c4,#c6,#c7,#c8,#c9{
    width: 25%; 
    float: left;
    margin-left: 40px;
}


/*   Desde aquí para la página de "contacto"*/

#con{
    border: 5px 5px 5px black;
    box-shadow: 5px 5px 5px black;
    background-color:rgb(255,255,255);
    padding: 20px; 
    height: 500px;
}

#llamada_foto{
    width: 40%; 
    float: left;

}

#formulario_contacto{
    width: 50%; 
    float: right;
    margin-right: 50px;
}

button{
    margin-left: 200px;
}